.flex-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    /* background-image: url("./Keyboard-passwords.jpg"); */
    background-color: #202124;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    color: white;
}

.flex-box-two{
        background-color: red;
}
.boxes{
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    border-radius: 5px;
justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.inputV{
    display: inline;
    border: 1px solid red;
    padding: 10px;
}

.inputRange{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result{
    text-align: center;
border: 0px solid;
padding-top: 7px;
   height: 25px;
   width: 600px;
   margin: 5px;
}


.reset, .password, .copyBtn{
display: block;
    width: 150px;
    padding: 8px 0;
    margin: 20px auto;
    background: #4979ff;
    border-radius: 4px;
    color: white;
    text-align: center;
    display: inline-block
}

.nums,
.letters,
.nums {
 
    color: white;

}

.copyPassword{
    display: flex;
    flex-direction: column;
    align-items: center;

}